.root {
  display: flex;
  flex-direction: column;
  padding-left: var(--space-6);
}

.brand {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  background: var(--primary);
  border-radius: 10px;
}

.name {
  font-size: var(--font-2xl);
  font-weight: var(--font-2xl);
  color: var(--text-primary);
}

.tagline {
  font-size: var(--font-md);
  color: var(--text-secondary);
  font-weight: var(--font-medium);
  margin: 0;
}
